body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app-container {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}

nav.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

input, button {
  display: block;
  width: 99%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #333;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

.hidden {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: url('../img/bg-barbearia.jpg') no-repeat center center fixed;
  background-size: cover;
  color: rgb(9, 0, 0);
}

@media (max-width: 600px) {
  .app-container {
    width: 80%;
    padding: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    margin: 0 auto;
  }

  nav.menu {
    gap: 8px;
  }

  input, button {
    font-size: 1rem;
    padding: 12px;
    width: 100%;
  }

  h1, h2 {
    font-size: 1.4rem;
  }

  body {
    height: auto;
    min-height: 100vh;
    padding: 20px 0;
  }

  html, body {
    overflow-x: hidden;
  }
}